<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>

    <!--파비콘 아이콘-->
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="icon" href="favicon.png" />

    <!-- css -->
    <link rel="stylesheet" href="/static/css/basic.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/modal.css" />
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header class="header-area bp200 w100per xy-tl zi3">
      <div class="con wh100per flex aic jcsb">
        <a href="index.html" class="logo-box img-box">
          <img src="/static/images/logo.svg" alt="로고" />
        </a>
        <!-- 페이지 확인 후 삭제 -->
        <ul class="flex cfff jcc f12 pr20">
          <li><a href="/page/statEvetList" class="ml20">상황 이벤트</a></li>
          <li>
            <a href="/page/checkListInsert" class="ml20">체크리스트 등록</a>
          </li>
          <li>
            <a href="/page/checkList" class="ml20">체크리스트</a>
          </li>
          <li><a href="/page/evetHist" class="ml20">전체 이벤트</a></li>
        </ul>
        <!--// 페이지 확인 후 삭제 -->
      </div>
    </header>
    <!-- //헤더 영역 -->
  </body>
</html>
