<!-- 상황 이벤트 목록 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공군15비행단</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/basic.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <div class="wrap w100per">
      <div class="modal-area wh100per fixed zi4">
        <div class="event-rgdt modal-box-in modal-box fdc abs xy-middle bfff">
          <div class="top-box flex jcsb">
            <button class="x-btn img-box abs">
              <img src="/static/images/ic-close.svg" alt="닫기 아이콘" />
            </button>
            <span class="modal-title tb"> 상황조치 완료 </span>
          </div>
          <div class="modal-cont-box">
            <div class="table-wrap">
              <div class="table-box">
                <table class="tb-type-modal modal-input-text">
                  <colgroup>
                    <col width="30%" />
                    <col width="*" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>조치자 이름</th>
                      <td>
                        <input
                          type="text"
                          class="tb-edit"
                          value=""
                          class=""
                          placeholder="이름 입력"
                          id="modalReporterNm"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-btn-wrap flex jcc">
            <a class="btn btn-type-1 line-gray mr8 w50per tac">취소</a>
            <a class="btn btn-type-1 solid-public w50per cfff tac" id="saveBtn"
              >저장</a
            >
          </div>
        </div>
      </div>
      <!-- Header -->
      <header class="header-area w100per" id="header-area"></header>
      <!-- Header End -->
      <main class="container">
        <section class="top-area">
          <div class="con">
            <div class="top-search-box flex aic">
              <span class="title">발생시각</span>
              <span class="flex aic">
                <input
                  type="date"
                  class="ic-date w200"
                  placeholder="YYYY-MM-DD"
                  id="startDate"
                />
                <span class="mr12 ml12 cfff">~</span>
                <input
                  type="date"
                  class="ic-daet w200"
                  placeholder="YYYY-MM-DD"
                  id="endDate"
                />
              </span>
              <input
                type="text"
                class="ml12 mr12 w200"
                placeholder="이벤트명"
                id="evetName"
              />
              <button class="btn btn-type-2 solid-public" id="searchBtn">
                검색
              </button>
            </div>
          </div>
        </section>
        <section class="con">
          <div class="title-box flex jcsb aic">
            <span class="flex">
              <img
                src="/static/images/ico-txt-title-1.svg"
                class="mr8"
                alt="타이틀아이콘"
              />
              <h2>상황 이벤트</h2>
            </span>
            <button class="btn btn-type-1 solid-gray" id="endBtn">
              이벤트 종료
            </button>
          </div>
          <div class="inbox-area inbox-bg table-wrap">
            <div class="table-box set-h">
              <table class="tb-type-1 separate" id="eventTable">
                <colgroup>
                  <col width="" />
                  <col width="" />
                  <col width="" />
                  <col width="" />
                </colgroup>
                <thead>
                  <tr>
                    <th>
                      <div class="check-box">
                        <input
                          type="checkbox"
                          class="check-type"
                          id="all_check"
                        />
                      </div>
                    </th>
                    <th>이벤트명</th>
                    <th>내용</th>
                    <th>발생시각</th>
                    <th>경과</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                    <td>
                      <div class="check-box">
                        <input type="checkbox" class="check-type" />
                      </div>
                    </td>
                    <td>text</td>
                    <td>text</td>
                    <td>text</td>
                    <td>text</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </main>
      <!-- container END -->
    </div>
    <!-- wrap END -->

    <!-- 제이쿼리 -->
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/apiManager.js"></script>
    <script src="/static/js/p-01.js"></script>
    <script src="/static/js/dateFormat.js"></script>
    <script src="/static/js/checkBox.js"></script>
    <!-- include script -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/page/header", true);
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById("header-area").innerHTML = xhr.responseText;
          }
        };
        xhr.send();
      });

      tableData();
      AllCheck("all_check", ".check-type");
    </script>
  </body>
</html>
