<!-- 체크리스트 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공군15비행단</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/basic.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <main class="wrap w100per">
      <div class="container">
        <section>
          <div class="cnt-wrap flex jcsb w100per">
            <div class="cnt-left w40per">
              <div class="container-event">
                <div class="event-text-1">
                  <span class="layer-title-box">
                    <span class="layer-title">대응 단계 목록</span>
                  </span>
                </div>
                <div class="event-progress-area scr-type-1">
                  <div class="event-order-box">
                    <!-- 첫번째 -->
                    <ul class="flex jcs aic mt24 ab-align">
                      <li class="">
                        <div class="action-box-r none"></div>
                      </li>
                      <li class="circle c-type1">
                        <span class="f16 y-middle">1</span>
                      </li>
                      <li class="event-wd-r">
                        <div class="action-box-r ab-type1 active">
                          <div class="action-box-in">
                            <div class="tit-text cred tb">침입상황</div>
                            <ul>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-timer"></span>
                                <span class="set-w-st cgr300">일시</span>
                                <span class="cfff">소방긴급구조</span>
                              </li>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-location"></span>
                                <span class="set-w-st cgr300">위치</span>
                                <span class="cfff">41.40338, 2.17403</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- 두번째 -->
                    <ul class="flex jcs aic mt24 ab-align">
                      <li class="">
                        <div class="action-box-r none"></div>
                      </li>
                      <li class="circle c-type2">
                        <span class="f16 y-middle">2</span>
                      </li>
                      <li class="event-wd-r">
                        <div class="action-box-r ab-type2 active">
                          <div class="action-box-in">
                            <div class="tit-text corange tb">침입상황</div>
                            <ul>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-timer"></span>
                                <span class="set-w-st cgr300">일시</span>
                                <span class="cfff">소방긴급구조</span>
                              </li>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-location"></span>
                                <span class="set-w-st cgr300">위치</span>
                                <span class="cfff">41.40338, 2.17403</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- 세번째 -->
                    <ul class="flex jcs aic mt24 ab-align">
                      <li class="">
                        <div class="action-box-r none"></div>
                      </li>
                      <li class="circle c-type2">
                        <span class="f16 y-middle">3</span>
                      </li>
                      <li class="event-wd-r">
                        <div class="action-box-r ab-type2 active">
                          <div class="action-box-in">
                            <div class="tit-text corange tb">침입상황</div>
                            <ul>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-timer"></span>
                                <span class="set-w-st cgr300">일시</span>
                                <span class="cfff">소방긴급구조</span>
                              </li>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-location"></span>
                                <span class="set-w-st cgr300">위치</span>
                                <span class="cfff">41.40338, 2.17403</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- 네번째 -->
                    <ul class="flex jcs aic mt24 ab-align">
                      <li class="">
                        <div class="action-box-r none"></div>
                      </li>
                      <li class="circle c-type2">
                        <span class="f16 y-middle">4</span>
                      </li>
                      <li class="event-wd-r">
                        <div class="action-box-r ab-type2 active">
                          <div class="action-box-in">
                            <div class="tit-text corange tb">침입상황</div>
                            <ul>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-timer"></span>
                                <span class="set-w-st cgr300">일시</span>
                                <span class="cfff">소방긴급구조</span>
                              </li>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-location"></span>
                                <span class="set-w-st cgr300">위치</span>
                                <span class="cfff">41.40338, 2.17403</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- 다섯번째 -->
                    <ul class="flex jcs aic mt24 ab-align">
                      <li class="">
                        <div class="action-box-r none"></div>
                      </li>
                      <li class="circle c-type3">
                        <span class="f16 y-middle">5</span>
                      </li>
                      <li class="event-wd-r">
                        <div class="action-box-r ab-type3 active">
                          <div class="action-box-in">
                            <div class="tit-text cgreen tb">침입상황</div>
                            <ul>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-timer"></span>
                                <span class="set-w-st cgr300">일시</span>
                                <span class="cfff">소방긴급구조</span>
                              </li>
                              <li class="sub-text flex aic">
                                <span class="img-box ico-location"></span>
                                <span class="set-w-st cgr300">위치</span>
                                <span class="cfff">41.40338, 2.17403</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="cnt-right w60per">
              <div class="container-event">
                <div class="event-text-1 flex aic jcsb">
                  <span class="layer-title-box flex aic">
                    <span class="layer-stiker str-1">소방재난</span>
                    <span class="layer-title" id="evetTitle">이벤트제목</span>
                  </span>
                  <button class="btn btn-type-1 solid-gray2">
                    상황조치 완료
                  </button>
                </div>
                <div class="event-text-2 flex">
                  <span class="mr20" id="evetDtm">2023-12-12 10:00:10</span>
                  <soan>이벤트 발생위치 표시 영역</soan>
                </div>
                <div class="tab-menu-area">
                  <ul class="tab-menu-box flex jcs" id="tabArea">
                    <li>
                      <a href="#tab1-1" class="active">상황발생 체크리스트</a>
                    </li>
                    <li>
                      <a href="#tab2-1" class="block">추가확인 사항</a>
                    </li>
                    <li>
                      <a href="#tab3-1" class="block">지휘관 결심사항</a>
                    </li>
                  </ul>
                  <div class="table-wrap">
                    <div class="tab-cont-area inbox-area inbox-bg-lyer">
                      <ul class="tab-cnt-box">
                        <li id="tab1-1">
                          <!-- 테이블  START -->
                          <div class="table-box set-h tac">
                            <table class="tb-type-1 separate">
                              <colgroup>
                                <col width="" />
                                <col width="" />
                                <col width="" />
                              </colgroup>
                              <thead>
                                <tr>
                                  <th>상세대응</th>
                                  <th>조치시간</th>
                                  <th>조치</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>상세대응명 상세대응명</td>
                                  <td>23-12-30 00:00:00</td>
                                  <td class="flex jcc aic mt4">
                                    <button class="tb-btn type-1 mr12">
                                      시행
                                    </button>
                                    <button class="tb-btn type-2">
                                      미시행
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- 테이블 END -->
                        </li>
                        <li id="tab2-1"></li>
                        <li id="tab3-1"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- container END -->
    </main>
    <!-- wrap END -->

    <!-- 제이쿼리 -->
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/apiManager.js"></script>
    <script src="/static/js/dateFormat.js"></script>
    <script src="/static/js/p-02-layer.js"></script>

    <!-- include script -->
    <script>
      $(document).ready(function () {
        $("#header-area").load("/page/header");
      });
    </script>
  </body>
</html>
